div.text{
	width: 90%;
	padding-right: 20px;
    position: relative;
    margin-top:5%;
    margin-left: 5%;
    margin-right: 5%;
}

div#leftside{
	float: left;
	width: 40%;
	margin-left: 10%;
	margin-right: 5%;
}

div#rightside{
	float: right;
	margin-right: 15%;
	width: 30%;

}

.left {
	
	text-align: left;
	margin-top: 1.8em; 
	margin-left: 35%;
	margin-right: 5%;
	margin-bottom: 1.8em;
	position: relative;
	top: 0px;
	right: 10%;
	clear:both
}

.right {
	width: 30em;
	text-align: left;
	margin-top: 1.8em; 
	margin-right: 35%;
	margin-bottom: 1.8em;
	position: relative;
	top: 0px;
	clear:both
}

div.darkBG {
	background-color: #cfcfbf;
	padding-left: 1.3em;
	padding-right: 1.3em;
	width: 30em;
	clear:both
}

img {
	max-height: 30em;
	position: relative;
	right: 10%;
	margin-left: 25%;
	margin-right: 5%;
	border: 0.7em solid;
	border-color: #afafbf;
}

body {
	background-color: #f0f4f5;
}